{% extends './layout/base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block content %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    {{ form_start(smsForm, {
        'attr': {
            'class': 'mt-8',
        }
    }) }}
    <div class="rounded-md shadow-sm">
        <div>
            {{ form_row(smsForm.mobile_number, {
                'attr': {
                    'placeholder': 'Mobile Number',
                    'class': 'appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5'
                },
                'errors': false,
            }) }}
        </div>
        <div class="-mt-px">
            {{ form_row(smsForm.message, {
                'attr': {
                    'rows': '5',
                    'placeholder': 'Enter your message',
                    'class': 'appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5'
                },
                'errors': false,
            }) }}
        </div>
    </div>

    <div class="mt-6">
        <button type="submit"
                class="group relative w-full py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">
            Send
        </button>
    </div>
    {{ form_end(smsForm) }}
{% endblock %}